
*{
    box-sizing: border-box;
    margin: 0;
    pad: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
    background-image: url(../images/fbbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    /* padding-left: 5px; */
}
.imagecontainer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 67px;
    margin-top: 10px;
}
.fbimg{
    width: 200px;
    position: relative;
    left: 50px;
}
.grid-container{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 11;
    row-gap: -1; */
    margin: 20px;
    
}
.transfers, .airtime, .qr, .balance, .help, .internet, .atmlocate, .agent, .refer{
    background-color: rgb(29, 1, 1);
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    height: 100px;
    width: 100px;
}
.quicktransfers, .quickairtime,  .quickqr, .balanceenquiry, .contactus, .internetbanking, .atemlocator, .agentlocator, .firsterefer {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
   
}
i{
    color: orange;
}
.mpin{
    display: flex;
    background-color: rgb(29, 1, 1);
    height: 130px;
    width: 85%;
    margin-left: 30px;
    border-radius: 10px;
    padding: 13px;
    /* margin-bottom: 40px; */
    margin-top: 10px;
    position: relative;
    bottom: 10px;
}
.mpinlogin{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
/* #input{
    border-style: none;
    border-bottom-style: dotted;
    border-color: #fff;
    width: 60px;
    /* border-bottom-width: 10px solid #fff; */
    
.lineinput{
    border-style: none;
    border-top-style: dashed;
    border-width: 7px;
    width: 100px;
    border-color: #fff;
    position: relative;
    top: 80px;
    right: 140px;
    height: 0;
    }
.login{
    display: flex;
    background-color: rgb(29, 1, 1);
    height: 45px;
    width: 85%;
    margin-left: 30px;
    border-radius: 10px;
    padding: 13px;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 4px;
    bottom: 30px;
}
.finger{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}
